body {
  font: 18px "Yu Gothic Medium", "YuGothic Medium", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
}
.container {
  padding: 16px 8px 16px 8px;
}
.container .form-outline,
.container .btn,
.container .form-check,
.container #char-list {
  margin: 16px 8px 16px 8px;
}
i {
  vertical-align: middle;
}
.form-outline {
  padding-top: 4px;
}
.btn {
  font-size: large;
}
.navbar-dark,
.bg-dark {
  background-color: darkolivegreen !important;
}
.btn-primary {
  background-color: darkcyan !important;
}
#password {
  background-color: white;
}
#generation-error {
  color: red;
}
#char-list span, #password, #length, #similarChars {
  font-family: Monaco, 'Lucida Console', Courier, 'Courier New', monospace;
}
#char-list {
  padding: 2px 4px;
  line-height: 1.8em;
  background-color: darkgray;
}
#char-list span {
  padding: 2px;
}
#char-list span.use {
  background-color: yellow;
}
#char-list span.active {
  background-color: white;
}
